on boot
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
# USB cdrom configuration 
on property:sys.usb.config=mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 0001
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/f_mass_storage/lun/file ""
    write /sys/class/android_usb/android0/f_mass_storage/lun/cdrom 1
    write /sys/class/android_usb/android0/f_mass_storage/lun/file /system/etc/cdrom.iso
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config    

on property:sys.usb.config=mtp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 040D
    write /sys/class/android_usb/android0/idProduct 885C
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 040D
    write /sys/class/android_usb/android0/idProduct 885E
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 0003
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config
    
# VIA Telecom modem configuration 
on property:sys.usb.config=via_modem 
     write /sys/class/android_usb/android0/enable 0 
     write /sys/class/android_usb/android0/idVendor 15eb 
     write /sys/class/android_usb/android0/idProduct 1001 
     write /sys/class/android_usb/android0/functions via_modem
     write /sys/class/android_usb/android0/enable 1 
     write /sys/class/usb_rawbulk/data/enable 1
     setprop sys.usb.state $sys.usb.config 
     
# VIA Telecom ets configuration 
on property:sys.usb.config=via_ets 
     write /sys/class/android_usb/android0/enable 0 
     write /sys/class/android_usb/android0/idVendor 15eb 
     write /sys/class/android_usb/android0/idProduct 0002 
     write /sys/class/android_usb/android0/functions via_ets 
     write /sys/class/android_usb/android0/enable 1 
     write /sys/class/usb_rawbulk/ets/enable 1 
     setprop sys.usb.state $sys.usb.config 


