import init.wmt.usb.rc

on init    
# See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root
    mkdir /storage/sdcard1 0000 system system
    mkdir /storage/udisk 0000 system system
    mkdir /storage/udisk2 0000 system system
    mkdir /storage/udisk3 0000 system system
    mkdir /storage/udisk4 0000 system system
    mkdir /storage/udisk5 0000 system system
    mkdir /storage/udisk6 0000 system system
    mkdir /storage/udisk7 0000 system system
    mkdir /storage/udisk8 0000 system system    

        
    export EXTERNAL_STORAGE  /storage/emulated/legacy
    export SECONDARY_STORAGE /storage/sdcard1
    export THIRD_STORAGE /storage/udisk
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated
 #   export HOME /

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    symlink /storage/sdcard1 /mnt/extsdcard
    symlink /storage/sdcard1 /extsdcard
    symlink /storage/udisk /mnt/udisk
    symlink /storage/udisk /udisk
    
    unexport_for_sdexternal EXTERNAL_STORAGE  /storage/emulated/legacy
    unexport_for_sdexternal SECONDARY_STORAGE /storage/sdcard1
    unexport_for_sdexternal EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    unexport_for_sdexternal EMULATED_STORAGE_TARGET /storage/emulated
    
    export_for_sdexternal EXTERNAL_STORAGE /storage/sdcard1
    export_for_sdexternal SECONDARY_STORAGE /storage/sdcard0
    export_for_sdexternal WMT_VISIBLE_INTERNAL /storage/emulated/legacy
    export_for_sdexternal WMT_EMULATED_SOURCE /mnt/shell/emulated
    export_for_sdexternal WMT_EMULATED_TARGET /storage/emulated    
    symlink_for_sdexternal /storage/sdcard1 /sdcard
    symlink_for_sdexternal /storage/sdcard1 /mnt/sdcard    
    
    # backlight
    chown system system /sys/class/backlight/pwm-backlight.0/brightness

    # led for SK
    chown system system /sys/class/leds/genesis-led/enable

on fs
    mount_all /fstab.wmt
    setprop ro.crypto.fuse_sdcard true    

# Widevine
    chown system system /system/vendor/lib
    chmod 0775 /system/vendor/lib
    chown system system /system/vendor/lib/drm
    chmod 0775 /system/vendor/lib/drm
    mkdir /mnt/keybox 0775 system system
    mount yaffs2 mtd@keydata /mnt/keybox nosuid nodev
    chown system system /mnt/keybox
    chmod 0775 /mnt/keybox

    mkdir /lib/ 0771 system system
    mkdir /lib/modules 0771 system system
    symlink /system/modules /lib/modules/3.4.5
    symlink /system/modules /lib/modules/3.4.5+
    symlink /system/etc/firmware /lib/firmware
    symlink /system/bin/reboot /sbin/reboot
    symlink /data/ppp/peers /system/etc/ppp/peers

    optbcp /system/framework/wmt.iapplib.jar


on post-fs
# insmod media video driver module
    insmod /system/modules/3.4.5-default/g_wmt_lock.ko
    insmod /system/modules/3.4.5-default/g_wmt_vd_com.ko
    insmod /system/modules/3.4.5-default/g_wmt_vd_jdec.ko
    insmod /system/modules/3.4.5-default/g_wmt_msvd.ko
	
# insmod media video encoder driver module
    insmod /system/modules/3.4.5-default/g_wmt_ve_com.ko
    insmod /system/modules/3.4.5-default/g_wmt_ve_h264.ko
    insmod /system/modules/3.4.5-default/g_wmt_ve_jpeg.ko

# insmod cipher driver module, already be compiled into kernel
#    insmod /system/modules/3.4.5-default/g_crypto.ko

# insmod camera driver module
    insmod /system/modules/3.4.5-default/nmidrv.ko
    #insmod /system/modules/3.4.5-default/g_wmt_v4l2.ko
    insmod /system/modules/3.4.5-default/g_wmt_v4l2_cmos.ko
    #insmod /system/modules/3.4.5-default/g_wmt_cmoscam.ko

    chmod 0666 /dev/jdec
    chmod 0666 /dev/h264enc    
    chmod 0666 /dev/msvd

    chmod 0666 /dev/cipher
    chmod 0666 /dev/wmtgpio
    chmod 0666 /dev/mtd/mtd0
    chmod 0666 /dev/graphics/fb0
    chmod 0666 /dev/fb0
    chmod 0666 /dev/graphics/fb1
    chmod 0666 /dev/fb1
    chmod 0666 /dev/mbdev
    chmod 0755 /sys/mmc0/state

# Camera device node
    chmod 0666 /dev/nmi
    chmod 0666 /dev/video0
    chmod 0666 /dev/video1

#system clock
    chown 1000 /sys/devices/system/clocksource/clocksource0/current_clocksource 

    # Set property to let system know fuse path
    setprop  ro.fuse.dir  /data/media
    setprop  ro.fuse.mount_point /storage/emulated
    
on post-fs-data
# we will remap this as /data/media with the sdcard fuse tool
    mkdir /data/media 0770 media_rw media_rw
    setprop vold.post_fs_data_done 1

    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp

    mkdir /data/ppp 0777 radio radio
    mkdir /data/ppp/peers 0777 radio radio

service mali /system/bin/sh /system/etc/wmt/script/init_mali.sh
    class core
    oneshot


service initrdscript /system/etc/wmt/runinitscript.sh
    class main
    oneshot

service wmtserver /system/bin/wmtserver
    class main
    #disabled

service wmtbattery /system/bin/wmtbattery
    class main

# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard /data/media /mnt/shell/emulated 1023 1023
    class late_start
    #class core

service ifup_eth0 /system/bin/ifconfig eth0 up
    class main        
    disabled              
    oneshot

service ifdown_eth0 /system/bin/ifconfig eth0 down                                                                    
    class main                                    
    disabled                 
    oneshot    

service dhcpcd_eth0 /system/bin/logwrapper  /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot
    
service dhcpcd_eth1 /system/bin/logwrapper  /system/bin/dhcpcd -ABKL eth1
    class main
    disabled
    oneshot    

service wakeupModem /system/bin/wakeupxgmodem 1
	oneshot
	disabled
	
service releaseModem /system/bin/wakeupxgmodem 0
	oneshot
	disabled

service powerxgmodemOnce /system/etc/modemenable.sh 2
	class main
	oneshot

service powerxgmodemOn /system/etc/modemenable.sh 1
	oneshot
	disabled
	
service powerxgmodemOff /system/etc/modemenable.sh 0
	oneshot
	disabled

service stopMux /usr/bin/killall -9 gsmMuxd
	oneshot
	disabled

service mux /system/bin/gsmMuxd -p /dev/ttyACM0 -w -r -s /dev/mux /dev/ptmx /dev/ptmx -d -b 460800 -m generic
    user root
    group radio cache inet misc
    disabled
    
service mux_mtk /system/bin/gsmMuxd_mtk -p /dev/ttyS2 -b 115200 -d -w -r -s /dev/mux /dev/ptmx /dev/ptmx /dev/ptmx
    user root
    group radio cache inet misc
    disabled
    
service mux_rda /system/bin/gsmMuxd_rda -v 0 -p /dev/ttyS2 -s /dev/mux -b 115200 -n 3
    user root
    group radio cache inet misc
    disabled    
    
service mux_sp /system/bin/mux_sp
    user root
    group radio cache inet misc
    disabled

service memsicd /system/bin/memsicd
	user root
	group system
	oneshot
	disabled

service stopMemsicd /usr/bin/killall -9 memsicd
	user root
	group system
	oneshot
	disabled

service uaplayback /system/etc/uaplayback.sh
	oneshot
	disabled

service uastop /system/etc/uastop.sh
	oneshot
	disabled
service hdmi2usbSwitch /system/etc/hdmi2usbSwitch.sh 1   
	oneshot
	disabled

service usb2hdmiSwitch /system/etc/hdmi2usbSwitch.sh 0 
	oneshot
	disabled	
on property:msensor.memsicd=1
	start memsicd

on property:msensor.memsicd=0
	start stopMemsicd	
		
on property:ril.modem.reset=1
	start powerxgmodemOnce

on property:wmt.usb.audio.playback=1
	start uaplayback	

on property:wmt.usb.audio.playback=0
	start uastop	

on property:wmt.hdmi.usb.audio.switch=1
	start hdmi2usbSwitch

on property:wmt.hdmi.usb.audio.switch=0
	start usb2hdmiSwitch	
on property:ril.power.on=1
	start powerxgmodemOn

on property:ril.power.on=0
	stop ril-daemon
	stop ril-daemon2
	stop mux
	stop mux_mtk
	stop mux_sp
	stop mux_rda
	start stopMux
	start powerxgmodemOff

on property:ril.mux.start=1
	start mux
	
on property:ril.mux_mtk.start=1
	start mux_mtk
	
on property:ril.mux_sp.start=1
	start mux_sp
	
on property:ril.mux_rda.start=1
	start mux_rda

on property:ril.both.stop=1
	stop ril-daemon
	stop ril-daemon2
	stop mux
	start stopMux

on property:ril.killpppd.start=1
	start pppd_unique

on property:ril.killchat.start=1
    start chat_unique

on property:ril.usb.exception=1
    stop pppd-gprs
    start pppd_unique
    start chat_unique
    start usbko_reset

service usbko_reset /system/etc/usbko_reset.sh
    oneshot
    user root
    disabled

service pppd_unique /usr/bin/killall -9 pppd
    oneshot
    user root
    disabled
    
service chat_unique /usr/bin/killall -9 chat
    oneshot
    user root
    disabled
    
on property:ril.gprs.start=1
    start pppd-gprs
    
on property:ril.gprs.start=0
    stop pppd-gprs
    
service pppd-gprs /system/etc/ppp/init.gprs-pppd
    oneshot
    user root
    group radio cache inet misc audio
    disabled

on property:ril.daemon.start=1	
    start wakeupModem
	start ril-daemon 

on property:ril.daemon.start=0
	stop ril-daemon
	start releaseModem
    
on property:ril.daemon2.start=1	
	start ril-daemon2 

on property:ril.daemon2.start=0
	stop ril-daemon2

service ril-daemon2 /system/bin/rild2 -s rild2 -d /dev/ts0710mux4 -u /dev/ts0710mux3
    class main
    socket rild2 stream 660 root radio
    socket rild2-debug stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_rw log
    disabled    

service rild3g_server /system/bin/ril3g_server 
    class main


service pppoe /system/bin/pppdnew 
    class main
    user root
    disabled

#just for isdbt of Siano
service mtvserver /system/bin/mtvserver
    class main
    user root
    onrestart restart mtvserver


service dhcp6c_eth0 /system/bin/dhcp6c -v -f -c /system/etc/dhcp6c.conf eth0
    class main
    user root
    disabled

# Performance Settings Configuration
on property:persist.wmt.perf.cpugovernor=*
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ${persist.wmt.perf.cpugovernor}

#use persist.wmt.perf.cpumaxfreq property to save the property below
on property:hw.wmt.perf.cpumaxfreq=*
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq ${hw.wmt.perf.cpumaxfreq}
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand

#on property:persist.wmt.perf.cpuminfreq=*
#    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq ${persist.wmt.perf.cpuminfreq}


# For Genesis Led
on property:persist.wmt.perf.genesisiled=*
    write /sys/class/leds/genesis-led/enable ${persist.wmt.perf.genesisiled}
